a.gre:hover{

    color:green ;
        }
    
    .ut:hover{
            color:green!important;
            background:white !important;
            border: 1px solid green !important;
    }
    .inside{
        height:100vh;
        background-color: rgba(0,0,0,0.5);
    }
    .office{
     width:100vwvw;   
height: 100vh;
background-image: url('https://images.pexels.com/photos/37347/office-sitting-room-executive-sitting.jpg?auto=compress&cs=tinysrgb&w=600');
background-position: center;  
background-size: cover;  

}
.rat{
    transition: 0.5s;
    margin-top: -10px;
}
.office2{
background-color:black;
height: 82vh;
}



    